
@{
    ViewData["Title"] = "SECG";
}

<div class="container-fluid">
    <div class="row">
        @*LEFT MENU*@
        <div class="col-md-3">
            <div class="container d-flex flex-column flex-wrap">
                <button class="navbar-toggler justify-content-center mt-3 d-md-none" type="button" data-toggle="collapse" data-target="#sidebarE" aria-controls="sidebarE" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="m-0 p-2 ContentText">
                        <i class="fas fa-bars iconBtn"></i>
                        @SharedHtmlLocalizer["Product.CollapseButton"]
                    </span>
                </button>
                @*MENU CONTENT*@
                <div class="collapse leftMenu d-lg-table d-md-flex mx-auto m-2 mt-lg-4 mt-md-1 " id="sidebarE">
                    <div class="d-flex flex-column justify-content-center my-2">

                        <div class="leftMenu-item  ContentText m-1 py-1 pl-0 pr-0">
                            <a href="/@SharedHtmlLocalizer["Menu.About"]"><i class="fas fa-cogs mx-2 "></i>@SharedHtmlLocalizer["Menu.About"]</a>
                        </div>
                        <div class="leftMenu-item  ContentText m-1 py-1 pl-0 pr-0">
                            <a href="/@SharedHtmlLocalizer["Menu.About"]"><i class="fas fa-cogs mx-2 "></i>Vizyon</a>
                        </div>
                        <div class="leftMenu-item  ContentText m-1 py-1 pl-0 pr-0">
                            <a href="/@SharedHtmlLocalizer["Menu.About"]"><i class="fas fa-cogs mx-2 "></i>Çevre ve Kalite</a>
                        </div>
                        <div class="leftMenu-item  ContentText m-1 py-1 pl-0 pr-0">
                            <a href="/@SharedHtmlLocalizer["Menu.About"]"><i class="fas fa-cogs mx-2 "></i>Seç Politikamız</a>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        @*PRODUCT LAYER*@
        <div class="col-md-9 d-flex flex-column  mt-5">
            <h5 class="HeadText selectProduct pl-3">SEC-G Politikamız</h5>
            <p class="ContentText">Kronos Enerji olarak akaryakıt istasyonları kurulumu, istasyon ekipmanlarının üretim, tedarik, montaj, devreye alma ve servis hizmetlerinin karşılanması, jeneratör yakıt dolum sistemleri, endüstriyel otomasyon sistemleri, çelik konstrüksiyon ve inşaat alanlarında hizmet veren Şirketimizin itibarının korunması ve yükseltilmesi için, kalite anlayışından ödün vermeden hizmet ve ürün kalitemizi artırarak, işlerimizi zamanında, tek seferde doğru yapmak,</p>
            <p class="ContentText"><i class="fas fa-chevron-circle-right mr-2 iconCon"></i>Kanunlara uygun hareket etmek ve performansımızı arttırmak için etkili bir SEÇ Yönetim Sistemi uygulamak,</p>
            <p class="ContentText"><i class="fas fa-chevron-circle-right mr-2 iconCon"></i>Ekip çalışması ile tüm çalışanların hem kendisinin hem başkalarının güvenliğinden sorumlu olduğu bilincini sağlamak,</p>
            <p class="ContentText"><i class="fas fa-chevron-circle-right mr-2 iconCon"></i>Olay, kaza, yaralanma ve sağlık bozulmalarını önlemek için tedbirler almak ve çalışanlarımıza aktarmak,</p>
            <p class="ContentText"><i class="fas fa-chevron-circle-right mr-2 iconCon"></i>İşlerin yapılması sırasında çevreye zarar verecek etkileri en aza indirecek önlemler almak, kirletmeyi önlemek ve etkin bir çevre bilinci oluşturmak,</p>
            <p class="ContentText"><i class="fas fa-chevron-circle-right mr-2 iconCon"></i>Yapılan tüm işlerde Çevre ve İSG mevzuatlarına ve sektörümüzle ilgili diğer şartlara uygun çalışmak,</p>
            <p class="ContentText"><i class="fas fa-chevron-circle-right mr-2 iconCon"></i>Kalite, Çevre ve İSG Yönetim Sistem şartlarına uyarak sürekli iyileştirme sağlamak.</p>
        </div>

    </div>
</div>


